<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="pav.Properties.Settings.ConnectionString" connectionString="Provider=SQLNCLI11;Data Source=DESKTOP-P2IGMAU\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=BD6.1" providerName="System.Data.OleDb" />
        <add name="pav.Properties.Settings.ConnectionString1" connectionString="Provider=SQLNCLI11;Data Source=DESKTOP-P2IGMAU\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=BugTracker_72078" providerName="System.Data.OleDb" />
        <add name="pav.Properties.Settings.BD7ConnectionString" connectionString="Data Source=cx\sqlexpress;Initial Catalog=BD7;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WinForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>